<% content_for :header do %>
  <h1>Update Your Profile</h1>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= render :partial => 'update_auction_admin' %>
    </div>
    <div class="span6">
      <%= render :partial => 'change_password' %>
      <%= render :partial => 'change_username' %>
    </div>
  </div>
</div>
